# Nix
result
result-*
.direnv/
.venv/

# Secrets (IMPORTANT)
secrets.nix
secrets.nix.bak
*.age
# On NE bloque PAS secrets.yaml car il est chiffré par SOPS
# On NE bloque PAS .sops.yaml car il contient les règles de chiffrement

# Temporary files
nix-install-temp/
*.swp
*~
.DS_Store

# Local keys (Never commit these!)
keys.txt
